
        /* #myHeading {
          color: red
        }
        .green {
          color: green
        }
        h1 {
          color: blue
        } */
    
        h1 {
          color: blue;
          font-size: 20px;
          font-family: 'Press Start 2P', cursive;
          text-align: center;
        }
        body {
            background-color: aqua;
            font-family: 'Press Start 2P', cursive;
            border: 20px solid blueviolet;
            color:coral;
            text-align: center;
        }
        h3 {
            text-align: center;
            color: coral;


        }
        button {
            background-color: coral;
            font-family: 'Press Start 2P', cursive;
            color:aqua;
            font-size: medium;
          
        }
        

    
